.layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.25rem 1rem;
  height: 100%;


  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid hsla(0, 0%, 80%, 0.8);
  }

  .children {

  }

}
