div.product-detail-slug {

  div.product-box {
    min-height: 80vh;

    div.details {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      padding-top: 15vw;


      p.price {
        font-size: 1.5rem;
      }

      button.add-to-cart {
        background-color: hsl(0, 60%, 0%, 0.3);
      }

    }
  }

}

@media (width > 800px ) {
  .product-box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

}
